<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رِنـــان - TTS Model</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('./header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                });
        });
    </script>
</head>

<body>
    <div id="header-placeholder"></div>
    <div id="ttsmodel" class="content-tts-model active">
        <!-- TTS Model content here -->
        <div class="tts-inputs-div">
            <img src="../static/images/icons/generate_text.png" alt="انشئ محتوى" class="tts-icons">
            <span class="tts-titles"> انشئ محتوى </span> <br>
            <textarea id="text-gen-input" class="input-textarea no-scroll" style="height: 80px;"
                placeholder="اكتب فكرتك هنا ليتم انشاء نص إبداعي لها.."></textarea> <br>

            <img src="../static/images/icons/text_to_speech.png" alt="محتوى مسموع" class="tts-icons">
            <span class="tts-titles"> محتوى مسموع </span> <br>
            <textarea id="tts-input" class="input-textarea no-scroll"
                placeholder="اكتب نصك الإبداعي هنا ليتم تحويله إلى صوت نابض بالحياة، سيتم عرض النص المقترح لفكرتك هنا.."></textarea>
            <br><br>

            <dive class="results">
                <button id="create" class="create-btn">
                    <img src="../static/images/icons/create.png" alt="انشاء" class="btn-icon">
                    انـشــاء
                </button>
                <audio class="audio-res" id="audio-result" controls hidden></audio>
                <button class="download-btn">
                    <img id="download-link" src="../static/images/icons/download.png" download="audio.wav" hidden>
                </button>
            </dive>
        </div>
        <div class="tts-buttons-div">
            <button id="create-voice-over" class="btn-with-icon">
                <img src="../static/images/icons/voice_over.png" alt="عرّف عن مشروعك" class="btn-icon">
                عرّف عن مشروعك
            </button>
            <button id="create-boadcast" class="btn-with-icon">
                <img src="../static/images/icons/broadcast.png" alt="قدّم بودكاست" class="btn-icon">
                قدّم بودكاست
            </button>
            <br><br>
            <div class="select-container">
                <select id="speaker-select" class="btn-with-icon">
                    <option disabled selected hidden>المتحدث</option>
                    <option id="speaker1" value="speaker1">نورة</option>
                    <option id="speaker2" value="speaker2">محمد</option>
                </select>
                <img src="../static/images/icons/speaker.png" class="drop-icon"><br>
            </div>
            <div class="select-container">
                <select id="speed-select" class="btn-with-icon">
                    <option disabled selected hidden>السرعة</option>
                    <option id="slow" value="0.75">بطيئة</option>
                    <option id="regular" value="1.00">معتدلة</option>
                    <option id="fast" value="1.25">سريعة</option>
                </select>
                <img src="../static/images/icons/speed.png" class="drop-icon"><br>
            </div>
            <div class="select-container">
                <select id="music-select" class="btn-with-icon">
                    <option disabled selected hidden>الموسيقى</option>
                    <option id="no-music" value="no-music">بدون موسيقى</option>
                    <option id="music1" value="music1">موسيقى قصصية</option>
                    <option id="music2" vlaue="music2">موسيقى إعلانية</option>
                </select>
                <img src="../static/images/icons/music.png" class="drop-icon">
            </div>
        </div>
    </div>


    <script src="../static/js/script"></script>
</body>

</html>